.gallery {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	margin-top: 10vh;
	justify-content: center;
}

@media screen and (max-width: 1444px) {
	.banner {
		height: 70vh;
	}
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
	.banner {
		height: 60vh;
	}
}

@media screen and (max-width: 768px) {
	.banner {
		height: 40vh;
	}
}
