.gallery {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
}

.galleryCard {
	position: relative;
	background: #413d3d;
	box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 200px;
	height: 330px;
	max-height: 550px;
	margin: 1.3em;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	transition: 0.5s ease-in-out;
}

.galleryCard:hover {
	transform: scale(1.08);
}

.galleryCard .imgContainer {
	width: 100%;
	height: 90%;
	overflow: hidden;
}

.galleryCard .imgContainer img {
	height: 100%;
	width: 100%;
	transition: 0.5s ease-in-out;
}

.galleryCardContent {
	padding: 5px 0;
	height: 10%;
	display: flex;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	width: 100%;
	color: aliceblue;
}

.galleryCardContent p {
	font-size: 10px;
	width: 50%;
}

.galleryCardContent h4 {
	padding: 0 9px;
	width: 100%;
	font-size: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.galleryHeader {
	display: flex;
	align-items: center;
	width: 100%;
	margin-left: 5%;
	padding: 10px 0;
	font-size: larger;
	color: rgb(247, 238, 238);
	gap: 10px;
	text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.6);
	font-size: 25px;
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 1px;
}

.galleryHeader .recommendedIcon {
	margin-left: 10px;
	font-size: 30px;
}

.galleryHeader .categoryBtns {
	display: flex;
	margin: 0 0 0 10px;
	gap: 10px;
}

.categoryBtns .btn {
	font-size: 15px;
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 1px;
	padding: 5px;
	color: rgb(182, 180, 180);
	background-color: transparent;
	border: 1px groove grey;
	cursor: pointer;
	transition: 0.4s ease-in-out;
}

.categoryBtns .btn:hover {
	border: 1px groove rgb(139, 115, 7);
	color: rgb(255, 218, 5);
}
